#
# Test Workflow for GitHub Actions
#

name: test
on:
  push:
    branches: [ 'main' ]

  
jobs:

       
  setup-containers:
    strategy:
      matrix:
        os: [ 'el9', 'd11' ]

    runs-on: ubuntu-latest

    container:
      image: ghcr.io/perfsonar/unibuild/${{ matrix.os }}:latest

    env:
      NO_AUTO_BUILD: 1

    steps:
      - run: env | fgrep BUILD
#      - uses: actions/checkout@v4
#      - run: make
#      - uses:  actions/upload-artifact@v3
#        with:
#          name: ${{ github.event.repository.name }}-${{ matrix.os }}
#          path: unibuild-repo
#          retention-days: 5
