
name: test
on:
  push:
    branches: [ 'main' ]

jobs:
        
  setup-containers:
    strategy:
      matrix:
        os: [ 'el9' ]

    runs-on: ubuntu-latest

    container:
      image: ghcr.io/perfsonar/unibuild/${{ matrix.os }}:latest

    steps:
      - uses: actions/checkout@v4
      - run: make
